/* components/BackgroundCubes/BackgroundCubes.module.css */
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
}

.cube {
    position: absolute;
    width: 60px;
    height: 60px;
    transform-style: preserve-3d;
    transition: transform 0.1s linear;
}

.cube div {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(63, 63, 63, 0.1);
    border: 1px solid rgba(73, 73, 73, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
}

.cube div svg {
    width: 70%;
    height: 70%;
    color: rgba(255, 255, 255, 0.23);
}

.face0 { transform: translateZ(30px); }
.face1 { transform: rotateX(180deg) translateZ(30px); }
.face2 { transform: rotateX(90deg) translateZ(30px); }
.face3 { transform: rotateX(-90deg) translateZ(30px); }
.face4 { transform: rotateY(90deg) translateZ(30px); }
.face5 { transform: rotateY(-90deg) translateZ(30px); }


@media (max-width: 768px) {
    .cube {
        width: 30px;
        height: 30px;
    }

    .face0 { transform: translateZ(15px); }
    .face1 { transform: rotateX(180deg) translateZ(15px); }
    .face2 { transform: rotateX(90deg) translateZ(15px); }
    .face3 { transform: rotateX(-90deg) translateZ(15px); }
    .face4 { transform: rotateY(90deg) translateZ(15px); }
    .face5 { transform: rotateY(-90deg) translateZ(15px); }
}